body{
  padding-top: 5px;
}
#myHeader{
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 500px;
  background-image: url(../image/homeHeader.jpg);
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-position: top center;
  background-attachment: fixed;
}

#footer {
  background-color: rgb(59, 59, 61);
  color: rgb(231, 235, 242);
  padding: 20px;
  margin-top: 40px;
}

#hotspot {
  background-color: rgba(0, 0, 0, 0.69);
  color: rgb(255, 255, 255);
}

#projectsFont a{
  font-size: 150%;
  color: rgb(16, 145, 228);
}
#contect a {
  font-size: 130%;
}
#chatHeader{
  background-color: white;
  padding: 10px;
  border-bottom: solid;
}
#chatRoom{
  background-image: url(../image/backChat2.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom:200px;
  /* background-attachment: fixed; */
}
