body {
  background-color: #f1f1f1;
}
footer{
  width: 100%;
  margin-top: 20px;
}
.myHeader {
  background-color : white;
  padding-bottom: 80px;
}
.tab2 {
    overflow: hidden;
    border-bottom:solid;
}
/* define the teb buttens style*/
.tab2 button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width:25%;
}
/*the tab color on hover*/
.tab2 button:hover {
    background-color: #ddd;
}
.tab2 button.active {
    background-color: #ccc;
}


.tab1 {
    overflow: hidden;
    border-bottom:solid;
}
/* define the teb buttens style*/
.tab1 button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width:33.333333333333333333333333333333%;
}
/*the tab color on hover*/
.tab1 button:hover {
    background-color: #ddd;
}
.tab1 button.active {
    background-color: #ccc;
}

/* end of tab style*/
/*define the shape of the bar*/
.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.cont{
  //margin-top:25px;
  margin-left:10px;
  float:left;
  cursor: pointer;}

#logo{
    text-align: center;
    font: italic bold 30px Georgia, serif;
    z-index: -1;
    padding-left: 100px;
    padding-bottom:25px;
}
.search{
  float: right;
}
.search input{
  padding: 6px;
  //margin-top: 8px;
  font-size: 17px;
  border-right:none;

}
.search button{
  float: right;
  padding: 6px;
  //margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height:35px;
  width:30px;
}
.search button:hover{
  background-color: #ccc;
}
/*------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.login_signin {
  float:right;
  padding-right: 10px;

}
.login_signin a {
  text-decoration: none;
  font-size: 18px;
  color: gray;
}
.login_signin a:hover{
  color: #00bfff;
}
.login_signin p{
font-size: 18px;
}

#main {
    transition: margin-left .5s;
}
#myHeaderMove {
    transition: margin-left .5s;
}
